body{
font-family:sans-serif;
background:#f4f6fb;
text-align:center;
padding:40px;
}

.logo{
font-size:40px;
color:#ff6b00;
margin-bottom:40px;
}

.upload-wrapper{
display:flex;
justify-content:center;
}

#drop-area{
width:500px;
height:260px;
border:3px dashed #bbb;
border-radius:16px;
background:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
transition:0.3s;
}

#drop-area.hover{
border-color:#ff6b00;
background:#fff3eb;
}

button{
background:#ff6b00;
color:white;
border:none;
padding:12px 20px;
border-radius:8px;
cursor:pointer;
margin-top:10px;
}

#preview{
margin-top:40px;
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.preview-img{
width:120px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}